<body ng-controller="CurrenciesCtrl" ng-init="getCurrencies();">
	<header class="header" style="width: 50vw;">
		<div>
			<h1 style="text-align: center;">Все котировки представлены здесь</h1>
		</div>
	</header>
	<b>Время обновления информации: {{ time.getHours() }}:{{ time.getMinutes() }}</b>
	<table align="center" width="80%">
		<tr>
			<th>Id</th>
			<th>Название валюты</th>
			<th>Курс валюты к рублю</th>
			<th>Переход к котировке</th>
		</tr>
		<tr ng-repeat="currency in currencies">
			<td>{{ currency.id }}</td>
			<td>{{ currency.name }}</td>
			<td>{{ currency.rate }}</td>
			<td><a href="/show/{{ currency.id }}" style="color: black;"><b>Перейти к котировке</b></a></td>
		</tr>

	</table>

	<a href="/" style="text-decoration: none; color: black; position: fixed; left: 25px; bottom: 25px;"><b>Стартовая<br>страница</b></a>
</body>