<body ng-controller="ModalCtrl" ng-init="">
	<header class="header">
		<div>
			<h1 style="text-align: center;">Стартовая страница</h1>
		</div>
	</header>
	Вы хотите <a href="/all" class="redirect"><b>простотреть информацию о всех валютах</b></a> или <a href="#" ng-click="openSearch();" class="redirect"><b>воспользоваться поиском</b></a>?

	<div class="modal">
		<div class="close" ng-click="closeSearch();">
			X
		</div>
		<div style="margin-top: 5%;">
			<select id="currency">
				<option disabled selected>Выберите название валюты</option>
				<% Currency.all.each do |c| %>
					<option id="<%= c.id %>" value="<%= c.id %>"><%= c.name %></option>
				<% end %>
			</select>
			<button ng-click="send();">Найти</button>
		</div>
	</div>
</body>
